@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);/*
  _____           _
 |  ___|__  _ __ | |_ ___
 | |_ / _ \| '_ \| __/ __|
 |  _| (_) | | | | |_\__ \
 |_|  \___/|_| |_|\__|___/
 */
/*
 __     __         _       _     _
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
 */
/*
  ____                   _
 / ___| _ __   __ _  ___(_)_ __   __ _
 \___ \| '_ \ / _` |/ __| | '_ \ / _` |
  ___) | |_) | (_| | (__| | | | | (_| |
 |____/| .__/ \__,_|\___|_|_| |_|\__, |
       |_|                       |___/
 */
._margin-top-xxxs {
  margin-top: 1px;
}
._margin-right-xxxs {
  margin-right: 1px;
}
._margin-bottom-xxxs {
  margin-bottom: 1px;
}
._margin-left-xxxs {
  margin-left: 1px;
}
._margin-top-xxs {
  margin-top: 2px;
}
._margin-right-xxs {
  margin-right: 2px;
}
._margin-bottom-xxs {
  margin-bottom: 2px;
}
._margin-left-xxs {
  margin-left: 2px;
}
._margin-top-xs {
  margin-top: 4px;
}
._margin-right-xs {
  margin-right: 4px;
}
._margin-bottom-xs {
  margin-bottom: 4px;
}
._margin-left-xs {
  margin-left: 4px;
}
._margin-top-s {
  margin-top: 8px;
}
._margin-right-s {
  margin-right: 8px;
}
._margin-bottom-s {
  margin-bottom: 8px;
}
._margin-left-s {
  margin-left: 8px;
}
._margin-top-m {
  margin-top: 16px;
}
._margin-right-m {
  margin-right: 16px;
}
._margin-bottom-m {
  margin-bottom: 16px;
}
._margin-left-m {
  margin-left: 16px;
}
._margin-top-l {
  margin-top: 32px;
}
._margin-right-l {
  margin-right: 32px;
}
._margin-bottom-l {
  margin-bottom: 32px;
}
._margin-left-l {
  margin-left: 32px;
}
._margin-top-xl {
  margin-top: 64px;
}
._margin-right-xl {
  margin-right: 64px;
}
._margin-bottom-xl {
  margin-bottom: 64px;
}
._margin-left-xl {
  margin-left: 64px;
}
._margin-top-xxl {
  margin-top: 128px;
}
._margin-right-xxl {
  margin-right: 128px;
}
._margin-bottom-xxl {
  margin-bottom: 128px;
}
._margin-left-xxl {
  margin-left: 128px;
}
._margin-top-xxxl {
  margin-top: 256px;
}
._margin-right-xxxl {
  margin-right: 256px;
}
._margin-bottom-xxxl {
  margin-bottom: 256px;
}
._margin-left-xxxl {
  margin-left: 256px;
}
/*
   ____                           _
  / ___| ___ _ __   ___ _ __ __ _| |
 | |  _ / _ \ '_ \ / _ \ '__/ _` | |
 | |_| |  __/ | | |  __/ | | (_| | |
  \____|\___|_| |_|\___|_|  \__,_|_|
 */
*,
*:after,
*:before {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 0;
  outline: none;
  padding: 0 0 0 0;
  text-decoration: none;
}
html {
  overflow-y: scroll;
}
body {
  background: #fafafa;
  letter-spacing: 1px;
  margin: 0 auto 0 auto;
  width: 700px;
  padding: 64px 64px 64px 64px;
}
[class^="section"] {
  border-bottom: 1px solid #e0e0e0;
  padding: 32px 0 32px 0;
  width: 100%;
}
[class^="section"]:last-child {
  border-bottom: none;
}
/*
   ____      _     _
  / ___|_ __(_) __| |
 | |  _| '__| |/ _` |
 | |_| | |  | | (_| |
  \____|_|  |_|\__,_|
 */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}
.grid .grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.grid .grid-row [class^="grid-column-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid .grid-row .grid-column-1-1 {
  width: 100%;
}
.grid .grid-row .grid-column-1-2 {
  width: 50%;
}
.grid .grid-row [class^="grid-column-"]._flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.grid .grid-row [class^="grid-column-"]._flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.grid .grid-row [class^="grid-column-"]._justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: start;
}
.grid .grid-row [class^="grid-column-"]._justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
.grid .grid-row [class^="grid-column-"]._justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  justify-items: end;
}
.grid .grid-row [class^="grid-column-"]._align-start {
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.grid .grid-row [class^="grid-column-"]._align-center {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid .grid-row [class^="grid-column-"]._align-end {
  -ms-flex-line-pack: end;
      align-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
/*
  _____ _                           _
 | ____| | ___ _ __ ___   ___ _ __ | |_ ___
 |  _| | |/ _ \ '_ ` _ \ / _ \ '_ \| __/ __|
 | |___| |  __/ | | | | |  __/ | | | |_\__ \
 |_____|_|\___|_| |_| |_|\___|_| |_|\__|___/
 */
.element-branding a,
.element-branding a span {
  border-bottom: solid 5px #212121;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.element-branding a span {
  font-weight: normal;
}
.element-buttons {
  width: 100%;
}
.element-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.element-buttons ul li {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 8px;
}
.element-buttons ul li:first-child {
  margin-left: 0;
}
.element-buttons ul li:last-child {
  margin-right: 0;
}
.element-buttons ul li a {
  background: #212121;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#212121));
  background: linear-gradient(#757575, #212121);
  border-radius: 5px 5px 5px 5px;
  color: #fafafa;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 16px 16px 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.element-buttons ul li a:hover {
  text-decoration: underline;
}
.element-buttons ul li a._light {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#616161));
  background: linear-gradient(#bdbdbd, #616161);
}
.element-buttons ul li a._indigo {
  background: #1a237e;
  background: -webkit-gradient(linear, left top, left bottom, from(#3949ab), to(#1a237e));
  background: linear-gradient(#3949ab, #1a237e);
  color: #e8eaf6;
}
.element-buttons ul li a._indigo._light {
  background: #3949ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#7986cb), to(#3949ab));
  background: linear-gradient(#7986cb, #3949ab);
}
.element-buttons ul li a._red {
  background: #b71c1c;
  background: -webkit-gradient(linear, left top, left bottom, from(#e53935), to(#b71c1c));
  background: linear-gradient(#e53935, #b71c1c);
  color: #ffebee;
}
.element-buttons ul li a._red._light {
  background: #e53935;
  background: -webkit-gradient(linear, left top, left bottom, from(#e57373), to(#e53935));
  background: linear-gradient(#e57373, #e53935);
}
.element-buttons ul li a._orange {
  background: #e65100;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8c00), to(#e65100));
  background: linear-gradient(#fb8c00, #e65100);
  color: #fff3e0;
}
.element-buttons ul li a._orange._light {
  background: #fb8c00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb74d), to(#fb8c00));
  background: linear-gradient(#ffb74d, #fb8c00);
}
.element-buttons ul li a._green {
  background: #1b5e20;
  background: -webkit-gradient(linear, left top, left bottom, from(#43a047), to(#1b5e20));
  background: linear-gradient(#43a047, #1b5e20);
  color: #e8f5e9;
}
.element-buttons ul li a._green._light {
  background: #43a047;
  background: -webkit-gradient(linear, left top, left bottom, from(#81c784), to(#43a047));
  background: linear-gradient(#81c784, #43a047);
}
.element-text {
  color: #424242;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  line-height: 21px;
  width: 100%;
}
.element-text h1,
.element-text h2,
.element-text h3,
.element-text h4,
.element-text h5,
.element-text h6,
.element-text p,
.element-text div {
  margin: 16px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.element-text h1:first-child,
.element-text h2:first-child,
.element-text h3:first-child,
.element-text h4:first-child,
.element-text h5:first-child,
.element-text h6:first-child,
.element-text p:first-child,
.element-text div:first-child {
  margin-top: 0;
}
.element-text h1:last-child,
.element-text h2:last-child,
.element-text h3:last-child,
.element-text h4:last-child,
.element-text h5:last-child,
.element-text h6:last-child,
.element-text p:last-child,
.element-text div:last-child {
  margin-bottom: 0;
}
.element-text h1 {
  font-size: 21px;
  line-height: 31.5px;
}
.element-text h2 {
  font-size: 18px;
  line-height: 27px;
}
.element-text h3 {
  font-size: 14px;
  line-height: 21px;
}
.element-text h4 {
  font-size: 13px;
  line-height: 19.5px;
}
.element-text h5 {
  font-size: 12px;
  line-height: 18px;
}
.element-text h6 {
  font-size: 11px;
  line-height: 16.5px;
}
.element-text p,
.element-text div {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
}
.element-text a {
  color: #424242;
  text-decoration: underline;
}
.element-text h1._left,
.element-text h2._left,
.element-text h3._left,
.element-text h4._left,
.element-text h5._left,
.element-text h6._left,
.element-text p._left,
.element-text div._left {
  text-align: left;
}
.element-text h1._center,
.element-text h2._center,
.element-text h3._center,
.element-text h4._center,
.element-text h5._center,
.element-text h6._center,
.element-text p._center,
.element-text div._center {
  text-align: center;
}
.element-text h1._right,
.element-text h2._right,
.element-text h3._right,
.element-text h4._right,
.element-text h5._right,
.element-text h6._right,
.element-text p._right,
.element-text div._right {
  text-align: right;
}
.element-form {
  width: 100%;
}
.element-form form input,
.element-form form label {
  color: #424242;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 16px 0;
  width: 100%;
}
.element-form form input:first-child,
.element-form form label:first-child {
  margin-top: 0;
}
.element-form form input:last-child,
.element-form form label:last-child {
  margin-bottom: 0;
}
.element-form form input[type="text"],
.element-form form input[type="password"],
.element-form form textarea {
  background: #ffffff;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #e0e0e0;
  color: #757575;
  padding: 16px 16px 16px 16px;
}
.element-form form input[type="submit"] {
  background: #212121;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#212121));
  background: linear-gradient(#757575, #212121);
  border-radius: 5px 5px 5px 5px;
  color: #fafafa;
  font-weight: 500;
  padding: 16px 16px 16px 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.element-form form input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: underline;
}
.element-form form input[type="submit"]._light {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#616161));
  background: linear-gradient(#bdbdbd, #616161);
}
.element-form form input[type="submit"]._indigo {
  background: #1a237e;
  background: -webkit-gradient(linear, left top, left bottom, from(#3949ab), to(#1a237e));
  background: linear-gradient(#3949ab, #1a237e);
  color: #e8eaf6;
}
.element-form form input[type="submit"]._indigo._light {
  background: #3949ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#7986cb), to(#3949ab));
  background: linear-gradient(#7986cb, #3949ab);
}
.element-form form input[type="submit"]._red {
  background: #b71c1c;
  background: -webkit-gradient(linear, left top, left bottom, from(#e53935), to(#b71c1c));
  background: linear-gradient(#e53935, #b71c1c);
  color: #ffebee;
}
.element-form form input[type="submit"]._red._light {
  background: #e53935;
  background: -webkit-gradient(linear, left top, left bottom, from(#e57373), to(#e53935));
  background: linear-gradient(#e57373, #e53935);
}
.element-form form input[type="submit"]._orange {
  background: #e65100;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8c00), to(#e65100));
  background: linear-gradient(#fb8c00, #e65100);
  color: #fff3e0;
}
.element-form form input[type="submit"]._orange._light {
  background: #fb8c00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb74d), to(#fb8c00));
  background: linear-gradient(#ffb74d, #fb8c00);
}
.element-form form input[type="submit"]._green {
  background: #1b5e20;
  background: -webkit-gradient(linear, left top, left bottom, from(#43a047), to(#1b5e20));
  background: linear-gradient(#43a047, #1b5e20);
  color: #e8f5e9;
}
.element-form form input[type="submit"]._green._light {
  background: #43a047;
  background: -webkit-gradient(linear, left top, left bottom, from(#81c784), to(#43a047));
  background: linear-gradient(#81c784, #43a047);
}
.element-alerts {
  width: 100%;
}
.element-alerts ul {
  list-style: none;
}
.element-alerts ul li {
  background: #ffebee;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ef9a9a;
  color: #e57373;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  padding: 16px 16px 16px 16px;
  text-align: center;
}
.element-alerts ul li:last-child {
  margin-bottom: 0;
}
.element-alerts ul li._orange {
  background: #fff3e0;
  border: 2px solid #ffb74d;
  color: #fb8c00;
}
.element-alerts ul li._green {
  background: #e8f5e9;
  border: 2px solid #81c784;
  color: #43a047;
}
